.page {
    height: 100%;
    display: flex;
    flex-direction: column;

    .first-box {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 100px 0;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-image: url('../../assets/img/home_bg_1.jpg');
            background-position: center;
            background-size: cover;
            opacity: 0.5;
        }

    }
}